/***************************************Header**********************************/
header .contenedor {
	display: flex;
	justify-content: space-between;
}

header ul{
	display: flex;
}

header ul li{
	list-style: none;
    margin-top: 15px;
    margin-right: 0px;
    height: 50px;
    width: 150px;
}

.contenedor{
	max-width:1280px;
	width: 90%;
	
    margin-left: 0;
}

header{
	background: linear-gradient(rgba(84,93,220,.5),
	rgba(96,171,245,.5));
	background-size: cover;
    height:10vh;
    font-family: 'Roboto', sans-serif;
}

nav ul li a{
	color:#000;
    font-size: 20px;
    margin-top: 40px;
    border-color: aqua;
    background-color: #6d68f3;
    text-decoration: none;
    border-bottom-color: aliceblue;
    cursor: pointer;
}

header img{
    width: 200px;
    height: 68px;
}

/************************************clase juego**********************************/
.juego{
    display: flex;
    justify-content: space-between;
}

/************************************recursos************************************/

.izquierda h3{
    font-size: 25px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 20px;
}

.claseBotones{
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
    background-color: #6d68f3;
    margin-bottom: 20px;
    border-radius: 10px;
}

.claseBotones button{
    justify-content: center;
    margin-left: 5px;
    height: 60px;
    width: 60px;
    background-color:bisque;
    border-radius: 20%;
    cursor: pointer;
}

.claseMonumentos{
    margin-top: 0;
    background-color: #6d68f3;
    margin-left: 30px;
    border-radius: 10%;
}

.claseMonumentos h4{
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
}

.claseMonumentos img{
    margin-left:30%;
    float: center;
    cursor: pointer;
}

.claseMonumentos p{
    color:#fff;
    font-size:12px;
}

/************************************tabla de juego****************************************/
.tablaJuego{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 42px;
}
/***************************************body***********************************************/
body{
    background-image: url('../assets/imagenes/fondo2.png');
    font-family: 'Roboto', sans-serif;
}
/*********************************edificios*************************************************/

.contenedor-edificios{
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
	color: #fff;
    margin-left: 0;
}

.contenedor h3{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}

.edificio{
	width: 130px;
    height: 140px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-radius:10px;
	margin-bottom:18px;
	margin-right: 10px;
    margin-top :0;
	position:relative;
}

.edificio h4{
	font-size:17px;
	margin:0;
    margin-bottom: 10px;
}

.edificio p{
    margin-top: 0;
    font-size: 12px;
	margin-bottom: 5px;
}

.contenedor-edificios .color{
	background-image:
	linear-gradient(to top,#5055df,
	#6d68f3);
	box-shadow: 0 12px, 30 px 0 rgba(80,85,223,.37);
}

.contenedor-edificios img{
	float: center;
	margin-left: 15%;
}

#tablaTaberna {
    border: 1px solid #fff;
    width: 100%;
}

#tablaTaberna tr, td{
    width: 20%;
    margin-top: 10px;
    text-align: center;
    color:floralwhite;
    border: 1px solid #fff;
    border-spacing: 0;
}


#tablaAsilo tr, td{
    width: 5%;
    margin-top: 10px;
    text-align: center;
    color:floralwhite;
    border: 1px solid #fff;
    border-spacing: 0;
}